@(event: (Event, Talk, Speaker) )
<header>
	<div id="speakers">
		<h2>Speakers</h2>
		@for(speaker <- List[Speaker](event._3)) {
		    <table cellpadding="4" cellspacing="10">
		     <tr>
		      <td>
		       <img width="50px" height="50px" src='${speaker.photoUrl}'/>
		      </td>
		      <td>
			   <dl>
				<dt><a href="@routes.Application.member(speaker.id.get)">@speaker.fullname</a></dt>
				<dd>@speaker.activity</dd>
				<dd>@speaker.compan</dd>
				<dd><a href="@speaker.url" target="blank">@speaker.url</a></dd>
			   </dl>
			 </td>
			</tr>
		 </table>
		}
	</div>
</header>