@(vo: EventViewObject, events: (List[Event], List[Event]) )
<style>
#main article .speaker
{
	color : #4A738C;
	font-weight: bold;
}
</style>
<section id="main">
	<nav>
		<h2>Upcoming events</h2>
		<ul>
			@for(evt <- events._2){
			<li>
				<a href="@routes.Application.event(evt.id.get)">@evt.title</a>
				@evt.date.map {date => <span class="date">@date.format("dd MMMM yyyy")</span>}
			</li>
			}
		</ul>
		<h2>Past events</h2>
		<ul>
		@for(evt <- events._1){
			<li>
				<a href="@routes.Application.event(evt.id.get)">@evt.title</a>
				@evt.date.map {date => <span class="date">@date.format("dd MMMM yyyy")</span>}
			</li>
			}
		</ul>
	</nav>
	<article>
		@vo.partner.map { partner => 
		<h2>Partenaire</h2>
		<p>Cet évènement est sponsorisé par <a href="routes.Application.eventPartner(partner.id.get)">@partner.name</a>.</p>
		@partner.logourl.map { url =>
		<p align="center"><img src="@url"/></p>
		}
		}
		@vo.event.report.map { report =>
			<h2>Compte rendu de la soirée</h2>
			@report
		}
		<h2>Programme</h2>
		@for(vot <- vo.talks ){
			<h3>@vot.talk.datetime : @vot.talk.title</h3>
			@if(vot.tags.size > 0){
			<p>Tags:
			 @for(tag <- vot.tags){
			  <a href="Application.listTagged(tag.name)">@tag.name</a>
			  }
			}
			</p>
			<p>Présenté par:
			@for(speaker <- vot.speakers){
			 <a href="@routes.Application.member(speaker.id.get)">@speaker.fullname</a></p>
			}
			<p>@vot.talk.teaser</p>
		}

		<h2>Lieu</h2>
		<p>@vo.event.location</p>
		@vo.event.map.map { map => @map}
				
	    @if(vo.event.open){
		<h2>Inscription</h2>
		<a id="inscription"></a>
		<div style="width:100%; text-align:left;" >
  			<iframe src="http://www.eventbrite.com/tickets-external?eid=@eventBrite.getId(vo.event)&ref=etckt" frameborder="0" height="160" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
		</div>
		<h2>After</h2>
		<p>A la fin de la soirée, une troisième mi-temps sera proposée dans un bar pour continuer à échanger et sympathiser </p>
		
		<p>
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="montpellierjug" data-lang="fr">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</p>
		}
		
		<div class="attachments">
			@for( attachment <- vo.event.attachments ){
				<a href="Application.downloadEventAttachment(event.id, attachment)">@attachment</a> 
				@if(false) {
					<a href="Admin.rmEventAttachment(event.id, attachment)" class="remove">x</a>
				}	
				<br />
			}
			<br />
			@if(false){
				<div>
		    	#{form Admin.addEventAttachment(event.id), method:'POST', enctype:'multipart/form-data'}
		        <input type="file" name="attachment" />
		        <button type="submit">&{'send'}</button>
			    #{/form}
			    #{if flash.success}
			    	<div class="flash-success">${flash.success}</div>
			    #{/if}
			    #{if flash.error}
			    	<div class="flash-error">${flash.error}</div>
			    #{/if}
		    	</div>
	    	}
    	</div>
    	
    	@if( !vo.event.open ){
		<div id="disqus-comments">
		<h2>Commentaires</h2>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    var disqus_url = '@routes.Application.event(1)';
		    var disqus_identifier = 'event-${event.id}';
		    var disqus_shortname = 'jugmontpellier';
		    #{if play.mode.isDev()}
		    var disqus_developer = 1;
		    #{/if}
		  (function() {
		   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		   dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=jugmontpellier">comments powered by Disqus.</a></noscript>
		</div>
		}
	</article>
</section>

