<!DOCTYPE html>
<html>
	<head>
		<title>#{get 'title' /}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<link rel="alternate" type="application/rss+xml" title="JUG News RSS" href="@@{Application.newsFeed()}" />
		<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" ></script>
		<script src="@{'/public/javascripts/jquery.tweet.js'}" type="text/javascript" ></script>
		#{get 'moreScripts' /}
		#{get 'moreStyles' /}
	</head>
	<body>
		<div id="wrapper">
			<a id="logo" href="@{Application.index}">
				<span>Montpellier Jug</span></a>
			<nav id="menu">
				<ul>
					<li ${request.actionMethod == 'index' ? 'class=active' : ''}><a href="@{Application.index()}">Home</a></li>
					<li ${request.actionMethod.startsWith('news') ? 'class=active' : ''}><a href="@{Application.news()}">News</a></li>
					#{if nextEventId}<li ${request.actionMethod == 'event' ? 'class=active' : ''}><a href="@{Application.event(nextEventId)}">Events</a></li>#{/if}
<!--					<li><a href="#">Publications</a></li>-->
					<li ${request.actionMethod == 'about' ? 'class=active' : ''}><a href="@{Application.about()}">A propos</a></li>
					<li ${request.actionMethod.startsWith('member') ? 'class=active' : ''}><a href="@{Application.members()}">&{'navigation.members'}</a></li>
                                        <li ${request.actionMethod.startsWith('polls') ? 'class=active' : ''}><a href="@{Application.polls()}">&{'navigation.polls'}</a></li>
				</ul>
			</nav>
			#{doLayout /}
			
			<section id="partners">
				<h2><a href="@{Application.partners()}">Partenaires</a></h2>
				<div class="partners-register">
					<h3>Devenir sponsor?</h3>
					<p>Venez nous rencontrer lors d'un évènement ou envoyez nous un email.</p>
				</div>
				<ul class="partners-list">
					#{list yearpartners, as : "partner"}
					<li><a href="@{Application.partner(partner.id)}"><img src="${partner.logoURL}"/></a></li>
					#{/list}
				    <div class="clear"></div>	
				</ul>
			     
			</section>
		</div>
		<footer>
			<h2>Montpellier JUG, partages et discussions sur Java en Languedoc-Roussillon.</h2>
			<div>
				<h2>A propos?</h2>
				<p>Nous sommes une association loi 1901, créée pour partager nos expériences des TIC, et promouvoir les technologies autour de Java en Languedoc-Roussillon.</p>
				<p>L'objectif premier est de réunir les acteurs montpellierains (sociétés, écoles, étudiants), à travers notamment l'organisation de soirées thématiques, gratuites et ouvertes à tous.</p>
				<p>Une autre finalité est la mise en relation de ces acteurs, par d'autres moyens que les forums et groupes virtuels.</p>
				<p><a id="contact" href="@{Application.about()}">En savoir plus...</a></p>
			</div>
			<div>
				<h2>Participez!</h2>
				<p>Chaque participant est encouragé à promouvoir les évènements via des gazoullis, courriels ou tout autre moyen de communication.</p>
				<p>Les thématiques sont ouvertes à proposition, si vous souhaitez que le JUG intervienne sur un sujet en particulier, faites-le nous savoir en envoyant un courriel.</p>
				<p>Enfin, si vous avez une expérience sur un sujet spécifique, et que vous souhaitez la partager, nous sommes en perpétuelle recherche de nouveaux <a href="@{Application.speakers()}">speakers</a>.</p>
				<p><a id="contact" href="mailto:info@jug-montpellier.org">info@jug-montpellier.org</a></p>
			</div>
			<div>
				<h2>Communauté...</h2>
				<p><a id="contact" href="http://groups.google.com/group/jug-montpellier" target="_blank">Google group</a></p>
				<p><a id="contact" href="http://github.com/Jug-Montpellier" target="_blank">Github</a></p>
				<p><a id="contact" href="http://twitter.com/montpellierjug" target="_blank">@montpellierjug</a></p>
				<div class="tweets"></div>
			</div>
			<hr/>
			<p class="credits">Contenus sous licence <a href="http://creativecommons.org/licenses/by/3.0/">CreativeCommons</a> — <a id="contact" href="#w">Crédits</a></p>
		</footer>
	</body>
	<script type='text/javascript'>
   		jQuery(function($){
       	$(".tweets").tweet({
           join_text: "auto",
           username: "montpellierjug",
           avatar_size: 32,
           count: 2,
           loading_text: "Chargement...",
           auto_join_text_default: "",
           auto_join_text_url: ""
       	});
   	});
	</script>
</html>
