@(title: String)(content: Html)(implicit event: Option[Event])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tweet.js")"></script>
        
    </head>
    <body>
       <div id="wrapper">
			<a id="logo" href="@routes.Application.index()">
				<span>Montpellier Jug</span></a>
				<nav id="menu">
				<ul>
					<li id="nav-home"><a href="@routes.Application.index()">Home</a></li>
					<li id="nav-new"><a href="@routes.Application.news()">News</a></li>
					@event.map { e => <li id="nav-event"><a href="@routes.Application.event(e.id)">Events</a></li>}
<!--					<li><a href="#">Publications</a></li>-->
					<li id="nav-about"><a href="@routes.Application.about()">A propos</a></li>
					<li id="nav-members""><a href="@routes.Application.members()">Membres</a></li>
                    <li id="nav-polls"><a href="@routes.Application.polls()">Sondages</a></li>
				</ul>
			</nav>
			@event.map { e => @events.header(e) }
        @content
        </div>
    </body>
</html>
